#img-header {
  height: 35%;
  width: 35%;
  padding: 20px;
  display: flex;
  margin: 0 auto;
}

#input1 {
  width: 100px;
}

#output {
  padding: 25px;
  display: flex;
  margin: 0 auto;
}

#big {
  padding: 25px;
}

#small {
  padding: 25px;
  font-size: 16px;
}

#cssImg {
  width: 45%;
}

#sm-cssImg {
  width: 25%;
  padding: 15px;
}

#sm-cssImg:hover {
  transform: scale(1.1);
  width: 25%;
  padding: 15px;
}

#csharpImg {
  width: 60%;
}

#sm-csharpImg {
  width: 25%;
  padding: 15px;
}

#sm-csharpImg:hover {
  transform: scale(1.1);
  width: 25%;
  padding: 15px;
}

#rubyImg {
  width: 60%;
}

#sm-rubyImg {
  width: 25%;
  padding: 15px;
}

#sm-rubyImg:hover {
  transform: scale(1.1);
  width: 25%;
  padding: 15px;
}

.container {
  background-color: #5A5B4E;
  padding-left: 50px;
}

.jumbotron {
  background-color: #2D2C29;
}

.form-group {
  width: 50px;
}

.cssCheck {
  display: none;
  text-align: center;
}

.csharpCheck {
  display: none;
  text-align: center;
}

.rubyCheck {
  display: none;
  text-align: center;
}

.epicodus {
  color: #5bc8c9;
}

p.description {
  font-size: 24px;
}

p {
  font-size: 18px;
}

form {
  padding-top: 75px;
  padding-bottom: 75px;
  width: 480px;
}

button {
background-color: #2D2C29;
}

h3 {
  font-size: 20px;
  padding-top: 20px;
}

h2 {
text-align: center;
width: 720px;
margin: 0 auto;
}

h1 {
  text-align: center;
  width: 720px;
  margin: 0 auto;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #0B070C;
  color: #DBD7CA;
}
